{%- set pageTitle %}
  {% if title %}
    {{ title }} | {{ meta.siteName }}
  {% else %}
    {{ meta.siteName }}
  {% endif %}
{% endset -%}

{%- set pageDescription %}
  {% if subtitle %}
    {{ subtitle }}
  {% else %}
    {{ meta.siteDescription }}
  {% endif %}
{% endset -%}

{%
  set commitURL = [
    meta.gitURL,
    "/commit/",
    gitSha
  ] | join
%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>{{ pageTitle | safe }}</title>
    <link rel="stylesheet" href="/assets/bundle.css" />
    <link href="/assets/prism-tomorrow.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}" />

    {# open graph #}
    <meta name="og:title" content="{{ pageTitle | trim }}" />
    <meta name="og:site_name" content="amber.vision">
    <meta name="og:description" content="{{ pageDescription | trim }}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:date" content="{{ page.date.toISOString() }}" />

    {# open graph image #}
    {% set post = page.url.split("/blog/")[1] %}
    {% if post | length > 2 %}
    <meta property="og:image" content="/assets/img/og/{{ page.fileSlug }}.png"/>
    <meta name="twitter:card" content="summary_large_image">
    {% endif %}

    {# twitter #}
    <meta name="twitter:title" content="{{ pageTitle | trim }}" />
    <meta name="twitter:description" content="{{ pageDescription | trim }}" />

    <meta name="theme-color" content="#cc2851">
  </head>
  <body>
    <div class="main-wrapper">
      {{ content | safe }}
      <footer>
        <img src="/assets/img/me.jpg" width="100" />
        <div>
          Me: <a href="https://amber.vision" rel="me">amber.vision</a><br />
          GH: <a href="https://github.com/amberstarlight" rel="me">amberstarlight</a><br />
        </div>
        <div>
          <p>
            &copy; {% year %}
            <br />
            Code available under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0-or-later</a>
            <br />
            Article text available under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA-4.0</a>
            <br />
            Short SHA-1: <a href={{commitURL}}>{{ gitShortSha }}</a>
          </p>
        </div>
      </footer>
    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
