---
layout: base.njk
---

<article>
  <nav class="sticky">
    <a href="/">home</a>
    / {{ page.fileSlug }}
  </nav>

  <header>
    <h1>{{ title }}</h1>
  </header>

  {{ content | safe }}

  <div class="gallery">
    {%- for photo in photos -%}
    <div
      class="image-box"
      style="background-image: url({{ photo.objectKey }});"
      role="img"
      alt="{{ photo.description }}"
    >
      <div class="image-info">
        <p>
          {{ photo.description }} <br>
          {{ photo.film }} <br>
          {{ photo.lens }} <br>
          &copy; {% year %} Amber Cronin
        </p>
      </div>
    </div>
    {%- endfor -%}
  </div>

</article>
