---
layout: page.njk
---

<section>{{ content | safe }}</section>

<nav>
  <h3>Read older updates from the archive:</h3>
  <ul>
    {% for post in collections.now.slice(0, 3) | reverse %}
      <li><a href="{{post.url}}">{{ post.filePathStem }}</a></li>
    {% endfor %}
    <li><a href="/now/archive">All archived</a></li>
  </ul>
</nav>
