---
layout: page.njk
---

<section>
  <h3>Updated {% niceDate page.date %}</h3>
  <blockquote>
    <p>This is a <a href="https://nownownow.com/about">now page</a>, which I'll update to give you an overview of what I'm
  doing <i>now</i>. Inspired by <a href="https://sive.rs/nowff">Derek Sivers</a>!</p>
</blockquote>
</section>

<section>{{ content | safe }}</section>

<nav>
  <h3>Read older updates from the archive:</h3>
  <ul>
    {% for post in collections.now.slice(0, 3) | reverse %}
      <li><a href="{{post.url}}">{{ post.filePathStem }}</a></li>
    {% endfor %}
    <li><a href="/now/archive">All archived</a></li>
  </ul>
</nav>
