---
layout: page.njk
---

<section>
  <p>This is a <a href="https://nownownow.com/about">now page</a>, which I'll update to give you an overview of what I'm
doing <i>now</i>. Inspired by <a href="https://sive.rs/nowff">Derek Sivers</a>!</p>
</section>

<section>{{ content | safe }}</section>
</article>
