---
layout: base.njk
---

{% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
{% set fixedContent = content | replace(regExpCode, "") | striptags %}
{% set wordCount = fixedContent | wordcount %}

<article class="post">
  <nav class="sticky">
    <div class="crumbs">
      <a href="/">home</a><span></span><a href="/blog">blog</a><span></span>{{ page.fileSlug }}
    </div>
    <button class="minimal-button" onclick="backToTop()" id="top-button">top 🠅</button>
  </nav>

  <header>
    <h1 class="title">{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <h3>{% niceDate page.date %} &bullet; {{ wordCount | numCommas }} words</h3>
  </header>

  {{ content | safe }}
</article>
