---
layout: page.njk
title: Tags
---

<p>This is a list of every tag I have used in a blog post. Click on the tag name
to see a list of articles with that tag.</p>

<ul>
{% for tag in collections | getKeys | filterTagList | alphabeticSort  %}
	<li>
		<a href="/blog/tags/{{ tag }}">{{ tag }}</a>
		({{ collections[tag].length }} article{{ "s" if collections[tag].length > 1 else "" }})</li>
{% endfor %}
</ul>

<p>Or, go back to <a href="/blog">my blog</a>.</p>
