@font-face {
  font-family: "Lilex Medium";
  src:
    url("/assets/fonts/Lilex-Medium.woff2") format("woff2"),
    url("/assets/fonts/Lilex-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lilex Regular";
  src:
    url("/assets/fonts/Lilex-Regular.woff2") format("woff2"),
    url("/assets/fonts/Lilex-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
