html {
  overflow-y: scroll;
  line-height: 2;
}

@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
    overflow-y: auto;
  }
}

:focus {
  outline: none;
  outline: 2px dashed rgb(var(--accent));
  outline-offset: 2px;
}

[id] {
  scroll-margin-top: 10em;
}

a {
  color: rgb(var(--accent));
  text-underline-offset: 0.25em;
  font-weight: bold;
}

body {
  min-height: 100vb;
  color: rgb(var(--text));
  background-color: rgb(var(--background));
  grid-auto-flow: column;
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
  font-family:
    Lilex Regular,
    monospace;
  display: grid;
}

.main-wrapper {
  align-content: space-between;
  padding: 1em;
  display: grid;
}

@media only screen and (width >= 400px) {
  .main-wrapper {
    border: 1px solid rgb(var(--text));
    margin: 1em 1em 2em;
    padding: 1em;
  }
}

@media only screen and (width >= 768px) {
  .main-wrapper {
    box-shadow: 0.625em 0.625em rgba(var(--text), 0.25);
    margin: 3em 3em 6em;
    padding: 3em;
  }
}

.sticky {
  background-color: rgb(var(--background));
  border-bottom: 1px solid rgb(var(--accent));
  grid-template-columns: 75% min-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  padding: 0;
  display: grid;
  position: sticky;
  top: 0;
}

.crumbs {
  padding: 0;
  list-style-type: none;
}

.crumb {
  display: inline;
}

.crumb-last {
  font-weight: bold;
}

.crumbs > li:not(:last-child):after {
  content: " / ";
}

button {
  border: 1px solid rgb(var(--accent));
  color: rgb(var(--accent));
  cursor: pointer;
  background: none;
  padding: 0.5em 1em;
  font-family:
    Lilex Medium,
    monospace;
  transition: all 0.3s linear;

  &:hover {
    background-color: rgb(var(--accent));
    color: rgb(var(--background));
  }
}

.minimal-button {
  visibility: hidden;
  opacity: 0;
  aspect-ratio: 3 / 2;

  &:focus {
    opacity: 1;
  }
}

article p,
article ul {
  max-width: 80ch;
  margin: 2em 0;
}

ul {
  list-style-type: square;
}

li ul {
  margin: 0;
}

.post-info {
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 0.5em;
  width: 100%;
  margin: 2em 0;
  display: grid;
}

.post-info .text > :first-child {
  margin-top: 0;
}

.post-info .metadata > :first-child {
  margin-top: 0.25em;
}

.post-info .subtitle {
  margin: 0.25em 0;
}

@media only screen and (width <= 768px) {
  .post-info {
    display: block;
  }

  .post-info .metadata {
    margin-bottom: 1em;
    display: block;
  }

  .post-info:not(:first-of-type) {
    border-top: 1px solid rgb(var(--accent));
    padding-top: 1em;
  }
}

blockquote {
  border-left: 0.375em solid rgb(var(--accent));
  max-width: 80ch;
  text-emphasis: italics;
}

blockquote p {
  padding-left: 1em;
}

code {
  font-family:
    Lilex Medium,
    monospace;
}

p > code,
li > code,
dd > code,
td > code,
s > code {
  background: rgb(var(--accent));
  color: rgb(var(--background));
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.2em 0.3em;
  font-size: 0.9em;
}

footer {
  border-top: 1px solid rgb(var(--text));
  grid-template-columns: 150px 1fr auto;
  align-items: center;
  margin-top: 8em;
  padding-top: 2em;
  font-family:
    Lilex Medium,
    monospace;
  font-size: 90%;
  display: grid;
}

footer div:last-child {
  text-align: right;
}

footer img {
  border-radius: 10%;
}

@media only screen and (width <= 900px) {
  footer {
    text-align: center;
    display: block;
  }

  footer div:last-child {
    text-align: center;
    font-size: 0.8em;
  }
}

.title {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-family:
    Lilex Medium,
    monospace;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

figure {
  border: 1px solid rgb(var(--accent));
  width: fit-content;
  max-width: 90%;
  margin: 1em auto;
  padding: 1em;
}

figure a {
  line-height: 0;
}

figure img {
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
}

figure figcaption {
  text-align: center;
  margin-top: 0.5em;
}

p img {
  float: right;
  border-radius: 4px;
  max-width: 30%;
  margin: 1em 0 1em 1em;
}

hr.accent {
  border: none;
  border-bottom: 1px solid rgb(var(--accent));
  margin-bottom: 3em;
}

.pagination {
  align-content: center;
}

.pagination-list {
  grid-auto-flow: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}

.pagination-list > li {
  text-align: center;
  border: 1px solid rgb(var(--accent));
  min-width: 2em;
  height: 2em;
  margin: 0.5em;
}

.pagination-list > li > a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: inline-block;
}

.pagination-list > li:hover {
  background-color: rgb(var(--accent));
}

.pagination-list > li:hover > a {
  color: rgb(var(--background));
}

[aria-current="page"] {
  background-color: rgb(var(--accent));
}

[aria-current="page"] > a {
  color: rgb(var(--background));
}

.pagination-list > li > .disabled {
  color: rgb(var(--disabled));
  text-decoration: none;
}

li:has(> a.disabled) {
  border-color: rgb(var(--disabled));
  pointer-events: none;
}

.tagslist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.spoiler {
  color: rgb(var(--text));
  background-color: rgb(var(--text));
  transition: all 0.3s linear;
}

.spoiler:hover,
.spoiler:focus {
  color: rgb(var(--text));
  background: inherit;
}

article.post > hr {
  border: none;
  border-bottom: 1px solid rgb(var(--text));
  width: 50%;
  margin: 4em auto;
}

.inline-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.inline-list > li {
  display: inline-block;
}

.inline-list > li:not(:last-child) {
  margin-right: 1em;
}

.splash {
  grid-template-columns: 250px auto;
  justify-content: space-between;
  align-items: baseline;
  display: grid;
}

@media only screen and (width <= 768px) {
  .splash {
    text-align: center;
    margin-bottom: 2em;
    display: block;
  }
}

pre {
  max-width: calc(100vi - (calc(var(--gutter) * 4)));
}

.note {
  border-bottom: 1px solid rgb(var(--accent));
  margin: 2em 0;
  padding-bottom: 1em;
}
