html {
  overflow-y: scroll;
  line-height: 2;
  scroll-behavior: smooth;
}

/* don't use smooth scroll if the user prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  scroll-behavior: auto;
}

@supports (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
    overflow-y: auto;
  }
}

:focus {
  outline: none;
  outline: 1px dashed rgb(var(--accent));
  outline-offset: 2px;
}

[id] {
  scroll-margin-top: 10em;
}

a {
  color: rgb(var(--accent));
  font-weight: bold;
  text-decoration: solid underline rgb(var(--accent)) 1px;
  text-underline-offset: 0.4em;

  &:hover {
    text-decoration: solid underline rgb(var(--accent)) 2px;
  }
}

body {
  min-height: 100vb;
  color: rgb(var(--text));
  background-color: rgb(var(--background));
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
  font-family:
    Lilex Regular,
    monospace;
}

article,
main {
  display: grid;
}

article {
  gap: 1.5em;
}

main {
  gap: 2em;
}

ul {
  list-style-type: square;
}

blockquote {
  border-left: 0.2em solid rgb(var(--accent));
  max-width: 80ch;
  margin-left: 1em;
}

blockquote p {
  padding-left: 1em;
}

code {
  font-family:
    Lilex Medium,
    monospace;
}

p > code,
li > code,
dd > code,
td > code,
s > code {
  background: rgb(var(--accent));
  color: rgb(var(--background));
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.2em 0.3em;
  font-size: var(--text-small);
}

small {
  font-size: var(--text-small);
}

footer {
  border-top: 1px solid rgb(var(--text));
  grid-template-columns: 1fr 3fr auto;
  gap: 1em;
  align-items: center;
  margin-top: 8em;
  padding-top: 2em;
  font-family:
    Lilex Medium,
    monospace;
  font-size: var(--text-small);
  display: grid;
}

footer div:last-child {
  text-align: right;
}

footer img {
  border-radius: 10%;
}

@media only screen and (width <= 900px) {
  footer {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  footer div:last-child {
    text-align: center;
    font-size: var(--text-xsmall);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  line-height: calc(1em + 1rem);
  font-family:
    Lilex Medium,
    monospace;
}

h1 {
  font-size: var(--text-xxlarge);
}

h2 {
  font-size: var(--text-large);
}

h3 {
  font-size: var(--text-regular);
  font-weight: bold;
}

figure {
  border: 1px solid rgb(var(--accent));
  width: fit-content;
  margin: 0 auto 2em;
  padding: 1em;
}

figure a {
  line-height: 0;
}

figure img {
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
}

figure figcaption {
  text-align: center;
  margin-top: 0.5em;
  font-style: oblique;
}

p img {
  float: right;
  border-radius: 4px;
  max-width: 30%;
  margin: 1em 0 1em 1em;
}

hr.accent {
  border: none;
  border-bottom: 1px solid rgb(var(--accent));
}

/* asterism dinkus */
.post > hr {
  border: 0;
  margin: 0 auto;
  text-align: center;

  &::before {
    content: "***";
    color: rgb(var(--accent));
    font-size: var(--text-xlarge);
    text-align: center;
  }
}

pre {
  max-width: calc(100vmin - (calc(var(--gutter) * 2 + 1rem)));
  display: block;
}

article {
  & ol > * + *,
  ul > * + * {
    margin-top: 1em;
  }
}

li > * + * {
  margin-top: 1em;
}
