:root {
  --text: 48, 54, 47;
  --background: 245, 249, 233;
  --accent: 204, 40, 81;
  --disabled: 164, 164, 164;
  --text-xsmall: 0.8em;
  --text-small: 0.9em;
  --text-regular: 1em;
  --text-large: 1.5em;
  --text-xlarge: 2em;
  --text-xxlarge: 3em;
}

/* Overrides for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text: 208, 208, 208;
    --background: 48, 54, 47;
    --accent: 249, 220, 92;
  }
}

@media only screen and (width <= 300px) {
  :root {
    --text-large: 1.5em;
    --text-xlarge: 1.75em;
    --text-xxlarge: 2em;
  }
}
