:root {
  --gutter: 1em;

  --text: 48, 54, 47;
  --background: 245, 249, 233;
  --accent: 204, 40, 81;

  --disabled: 164, 164, 164;
}

/* Overrides for dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text: 208, 208, 208;
    --background: 48, 54, 47;
    --accent: 249, 220, 92;
  }
}

/* Override gutter size on smaller screens */
@media only screen and (min-width: 400px) {
  :root {
    --gutter: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --gutter: 3.5em;
  }
}
