{% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
{% set fixedContent = post.content | replace(regExpCode, "") | striptags %}
{% set wordCount = fixedContent | wordcount %}

{#
  Compare the date of the post to the date of the newest Now page,
  and change the URL to go to the Now slash page if it's the same
#}

{% set postUrl = post.url %}
{% if post.date === isNowDate %}
  {% set postUrl = "/now" %}
{% endif %}

<section class="post-info">
  <div class="metadata">
    <h4>{% niceDate post.date %}</h4>
    <h5>{{ wordCount | numCommas }} words</h5>
    <ul class="tagslist">
    {% for tag in post.data.tags | filterTagList | alphabeticSort %}
      <li><a href="/blog/tags/{{ tag }}">#{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div class="text">
    <h2><a href="{{ postUrl }}">{{ post.data.title }}</a></h2>
    <h3 class="subtitle">{{ post.data.subtitle }}</h3>
    <p>{{ post.content | striptags | truncate(200) | safe }}<a href="{{ post.url }}"><i>Read more</i><a></p>
  </div>
</section>
