---
layout: page.njk
pagination:
  data: collections.post
  size: 7
  alias: posts
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyComputed:
  title: "Blog {% if pagination.pageNumber > 0 %} page {{ pagination.pageNumber + 1}}{% endif %}"
---

<p>Want something specific? Browse the <a href="/blog/tags">tags list</a>.</p>

{% for post in posts  %}
{%- from "components/postInfo/macro.njk" import postInfo -%}
{{ postInfo(post) }}
{% endfor %}

{% include "components/pagination/pagination.njk" %}
