---
layout: page.njk
pagination:
  data: collections.post
  size: 7
  alias: posts
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyComputed:
  title: "My Blog{% if pagination.pageNumber > 0 %} (page {{ pagination.pageNumber + 1}}){% endif %}"
---

<p>You can also <a href="/blog/tags">browse by tags</a>.</p>

{% for post in posts  %}
{%- from "components/postInfo/macro.njk" import postInfo -%}
{{ postInfo(post) }}
{% endfor %}

{% include "components/pagination/pagination.njk" %}
