---
layout: plain.njk
title: amber.vision
---

<hr class="accent" />
<p>
  I'm Amber, sometimes <i>amberstarlight</i>, always she/her; a software and
  operations engineer by day and 'everything hobbyist' by night, this is my
  personal web zone - go ahead and click around.
</p>

<nav class="home">
  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/now">now</a></li>
  </ul>
</nav>

<p>Why not read my latest post?</p>

{% set latestPost = collections.post | reverse | first %} {%- from
"components/postInfo/macro.njk" import postInfo -%} {{ postInfo(latestPost) }}
