---
layout: plain.njk
title: amber.vision
---

<header class="splash">
  <h1>{{ title }}</h1>
  <nav class="home">
    <ul class="inline-list">
      <li><a href="/about">about</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/notes">notes</a></li>
      <li><a href="/now">now</a></li>
      <li><a href="/feed.xml">rss</a></li>
    </ul>
  </nav>
</header>

<p>Welcome to my website. The newest entries from my blog and my now page can be
found below, or you can read more in the links above.<p>

{%- from "components/postInfo/macro.njk" import postInfo -%}
{% set latestPosts = collections.post.concat(collections.now) | sort(true, true, 'date') %}
{% for post in latestPosts.slice(0, 3) %}
  {{ postInfo(post) }}
{% endfor %}

<p>Read more on <a href="/blog">my blog</a>.</p>
