---
layout: page.njk
title: Notes
pagination:
  data: collections.note
  size: 7
  alias: notes
  reverse: true
permalink: "notes/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyComputed:
  title: "Notes {% if pagination.pageNumber > 0 %} page {{ pagination.pageNumber + 1}}{% endif %}"
---

Anything that isn't big enough to get it's own spot in the blog.

{% for note in notes %}
{%- from "components/note/macro.njk" import formattedNote -%}
{{ formattedNote(note) }}
{% endfor %}

{% include "components/pagination/pagination.njk" %}
