---
layout: page.njk
title: Notes
pagination:
  data: collections.note
  size: 7
  alias: notes
  reverse: true
permalink: "notes/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
eleventyComputed:
  title: "My Notes{% if pagination.pageNumber > 0 %} (page {{ pagination.pageNumber + 1}}){% endif %}"
---

<p>Here you can find unstructured thoughts, interesting tidbits, and things from
the cutting room floor of my blog.</p>

{% for note in notes %}
{%- from "components/note/macro.njk" import formattedNote -%}
{{ formattedNote(note) }}
{% endfor %}

{% include "components/pagination/pagination.njk" %}
