{% set backUrl = "" %}
<nav class="sticky">
  <ul class="crumbs">
    {% for crumb in breadcrumbs %}
      {% if loop.last %}
        <li>{{ crumb.name }}</li>
      {% else %}
        {% set backUrl = crumb.url %}
        <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{{ backUrl }}" class="back">go back</a>
  <a href="{{ page.url }}#top" class="minimal-button">top &uarr;</a>
</nav>
